{% extends "base.html" %}
{% block content %}
<h1> Grades </h1>
<table>
    <thead>
        <tr>
            <th>NAME</th>
            <th>COURSE</th>
            <th>GRADE</th>
            <th>SEMESTER</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.student_name }}</td>
            <td>{{ row.course_name }}</td>
            <td>{{ row.grade }}</td>
            <td>{{ row.semester }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>to see the full data, visit the <a href="{{ url_for('blog.api_page') }}">API endpoint</a></h3>
{% endblock %}